.app {
    display: flex;
    flex-direction: column;
}

.app__header {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 48px;
}

.app__theme-changer {
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 8px 0;
    width: 160px;
    background-color: #FFF;
    border: 1px solid #213749;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 32px;
}

.app__theme-changer:hover {
    background-color: #213749;
    border: 1px solid #FFF;
    color: #FFF;
}

.app__buttons {
    display: flex;
    justify-content: space-between;
    width: 272px;
}

.app__buttons a img {
    width: 40px;
    transition: .3s;
}

.app__buttons a img:hover {
    opacity: .5;
}

@media (max-width:1280px) {
    .app h1 {
        font-size: 24px;
    }
}

@media (max-width:768px) {
    .app {
        align-items: center;
    }
}